.btn{
    border: 2px solid black;
    width: 100px;
    height: 40px;
    background-color: blue;


}


li{
   width: 200px;
   background-color: rgb(158, 182, 237);
   display: flex;
   justify-content: space-between;
    margin: 5px;
   padding: 5px;
    
    
   
}
